footer {
    padding: 50px 0px 20px 0px;
    position: relative;
}

.display-4 {
    font-size: 2.5em;
}

.display-3 {
    font-size: 2em
}

.arredonda {
    border-radius: 179.5px;
    box-shadow: 1px 1px 1px 1px rgb(197, 193, 193);
}

.card {
    box-shadow: 1px 1px 1px rgb(197, 193, 193);
}

.card-custom {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 1px 1px 1px rgb(197, 193, 193);
}

.link-todo {
    text-decoration: none;
    color:#212529;
}

.link-todo:hover {
    text-decoration: underline;
    color: #212529;
}

h4 {
    padding-top: 10px;
    font-size: 2em;
}

#contato div i {
    margin-right: 10px;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 17px;
}



/******************************************/
/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-width:575px) {
    .display-4 {
        font-size: 1.8em;
        
    }
    .display-3 {
        font-size: 1.5em;
        margin-top:15px
    }   
    .tamanho-image {
        width: 120px;
    }
    h4 {
        font-size: 1.5em;
    }
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .display-4 {
        font-size: 2em;
    }
    .display-3 {
        font-size: 1.5em;
        margin-top:15px
    }
    .tamanho-image {
        width: 180px;
    }
    h4 {
        font-size: 1.5em;
    }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .display-4 {
        font-size: 2.5em;
    }
    .display-3 {
        font-size: 1.5em;
        margin-top:15px
    }
    .tamanho-image {
        width: 240px;
    }
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .tamanho-image {
        width: 300px;
    }
}

/*Extra large devices (large desktops, 1200px  e maiores)*/
@media (min-width: 1200px) {
    .tamanho-image {
        width: 360px;
    }
}